<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>个人信息 - 金融P2P后台管理系统</title>
		<meta name="description" content="This is page-header (.page-header &gt; h1)" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/static/assets/css/ace.min.css" id="main-ace-style" />
		
		<link rel="stylesheet" href="/static/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/static/assets/css/ace-rtl.min.css" />
		
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default">
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="index.html" class="navbar-brand">
						<small>
							<img src="/static/assets/avatars/logo.png" alt="" />
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/static/assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									欢迎您<br />
									张三丰
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="personal.html">
										<i class="ace-icon fa fa-user"></i>
										个人信息设置
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="login.html">
										<i class="ace-icon fa fa-power-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">

			<div id="sidebar" class="sidebar responsive">


				<ul class="nav nav-list">
					<li class="active">
						<a href="/index">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 菜单列表 </span>
						</a>
						<b class="arrow"></b>
					</li>

					<li class="#">
						<a href="" class="dropdown-toggle">
							<i class="menu-icon fa fa-tag"></i>
							<span class="menu-text">用户管理 </span>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>
						<ul class="submenu">

							<li class="">
								<a href="/user/user/getUserInfo">
									<i class="menu-icon fa fa-caret-right"></i>
									用户信息
								</a>

								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="/user/employee/getEmployeeInfo">
									<i class="menu-icon fa fa-caret-right"></i>
									后台用户信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/user/role/getRoleInfo">
									<i class="menu-icon fa fa-caret-right"></i>
									角色信息
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">借款管理</span>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="/borrow/uncheckBorrow/getUncheckBorrow">
									<i class="menu-icon fa fa-caret-right"></i>
									未审核借款
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/borrow/checkBorrow/getCheckBorrow">
									<i class="menu-icon fa fa-caret-right"></i>
									已审核借款
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/borrow/unPassBorrow/getUnPassBorrow">
									<i class="menu-icon fa fa-caret-right"></i>
									未通过借款
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<!--  -->
					<li class="">
						<a href="/project/getProject">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text">项目管理</span>
						</a>
						<b class="arrow"></b>

					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text">还款管理</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>
						<ul class="submenu">

							<li class="">
								<a href="/repayment/unRepayment/getUnRepayment">
									<i class="menu-icon fa fa-caret-right"></i>
									未还款信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/repayment/repayment/getRepayment">
									<i class="menu-icon fa fa-caret-right"></i>
									已还款信息
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>


					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text">统计管理</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>
						<ul class="submenu">
							<li class="">
								<a href="/statistics/statisticsUser/getStatisticsUser">
									<i class="menu-icon fa fa-caret-right"></i>
									近一周用户使用信息
								</a>
								<b class="arrow"></b>
							</li>

						</ul>
					</li>

				</ul>

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

			</div>
			<div class="main-content">
				
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="javascript:void(0)">统计管理</a>
						</li>
						<li>
							<a href="statistics_user.html">近一周用户使用信息</a>
						</li>
					</ul>
				</div>
				
				<div class="page-content">
				
					<div class="page-content-area">
						<div class="row">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-12">
										<div class="table-header">
											近一周用户使用信息管理
										</div>
										
										<!--显示近一周内容-->
										<div id="container" style="max-width:100%;height:400px"></div>

										
									</div>
								</div>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div>
				
				
				</div>
			</div>
			
			
			
			
			
			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							 金融P2P后台 &copy; 2019
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		
		<script type="text/javascript" src='/static/assets/js/jquery.min.js'></script>
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/static/assets/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/jquery-ui.custom.min.js"></script>
		<script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/assets/js/ace-elements.min.js"></script>
		<script src="/static/assets/js/ace.min.js"></script>
		<script src="/static/js/highcharts.js"></script>
		<script>
			Highcharts.chart('container', {
				title: {
						text: '近一周用户使用信息情况预览'
				},
				
				yAxis: {
						title: {
								text: '使用人数'
						}
				},
				xAxis:{
					categories:[
						"2018-07-01",
						"2018-07-02",
						"2018-07-03",
						"2018-07-04",
						"2018-07-05",
						"2018-07-06",
						"2018-07-07"
					]
				},
				legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle'
				},
				plotOptions: {
						series: {
								label: {
										connectorAllowed: false
								}
						}
				},
				credits:{
					enabled:false
				},
				series: [{
						name: '注册',
						data: [120, 34, 234, 568, 345, 33, 561]
				}, {
						name: '登录',
						data: [167, 67, 334, 743, 435, 49, 764]
				},{
						name: '投资',
						data: [13, 45, 23, 23, 56, 89, 32]
				},{
						name: '贷款',
						data: [5, 11, 18, 34, 36, 26, 3]
				}]
		});
		</script>
	</body>
</html>
