<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshine.free.dao.MdLoanMapper">

<!--    <insert id="addLoan" parameterType="com.sunshine.free.VO.MdLoanVO">

    </insert>-->

    <select id="getMdLoan" resultMap="com.sunshine.free.entity.MdLoan">
        select * from md_loan
    </select>
</mapper>
  