
#  Tomcat  服务配置
server:
  port: 8082
# thymeleaf 配置
spring:
  thymeleaf:
    cache: false
    suffix: .html
    encoding: UTF-8
    prefix: classpath:/templates/ #调整页面路径
    servlet:
      content-type: text/html
    mode: HTML5

#静态资源路径配置
  mvc:
    static-path-pattern: /static/**
  resources:
    static-locations: classpath:/static/




#数据源配置
  datasource:
    url: jdbc:mysql://localhost:3306/p2p?serverTimezone=GMT
    username: root
    password: 178003026
#    driver-class-name: com.mysql.jdbc.Driver
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  configuration:
    map-underscore-to-camel-case: true #开启驼峰映射
  mapper-locations:
    - classpath:mappers/*.xml
  type-aliases-package: com.sunshine.free.entity

logging:
  level:
    #打印SQL信息
    com.example.demo.mapper: debug

